body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}
thead {
    background-color: #333;
    color: white;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}